<div class="text-center">
  <h4><%= transportation.departure_port %></h4>
  <h5>departure: <%= render 'shared/booked-icon' %></h5>
  <h6><%= transportation.departure_date.strftime("%b %d, %Y") %> @ <%= transportation.departure_date.strftime("%H:%M") %></h6>
</div>
