// Define variables for your color scheme

// For example:
$red: #EE5F5B;
$blue: #469AE0;
$orange: #E67E22;
$green: #32B796;


$gray: rgb(40, 40, 40);
$middle-gray: rgb(170, 170, 170);
$light-gray: #F4F4F4;
$white-transparent: rgba(255, 255, 255, 0.4);
$white-middle-transparent: rgba(255, 255, 255, 0.7);
$yellow: #FFC61B;
$middle-yellow: #FFDD75;
$light-yellow: #FFF7E0;
