.accommodations-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.accommodations-card {
  position: relative;
  margin: 20px 10px 20px 10px;
  padding: 10px;
  background-color: $white-transparent;
  border-radius: 2px;
  min-height: 160px;
  max-width: 1052px;
}

.accommodations-ctn {
  flex-grow: 1;
}

.index-photo {
  background-size: cover !important;
  background-position: center;
}

.index-name {
  height: 34px;
}
.index-date {
  height: 15px;
}
.index-address {
  height: 15px;
}

.index-content {
  display: block;
  width: 240px;
}

.index-date {
  margin-top: 15px;
  .ind-date {
    font-size: 16px;
  }
  }
.index-price {
  margin-top: 30px;
  padding-left: 5px;
  .ind-price {
    font-size: 14px;
  }
}

