.new-container {
  position: relative;
}

.accommodations-tabs {
  margin-top: 15px;
  margin-left: 0px;
}

.accommodation-btn {
  margin-top: 25px;
}

.accommodations-card {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  position: relative;
  margin: -10px -40px -20px -20px;
  padding: 10px;
  border-radius: 2px;
  min-height: 160px;
  max-width: 1052px;
}

.index-photo {
  background-size: cover !important;
  background-position: center;
}
.index-content {
  display: block;
}
.ind-price {
    font-size: 10px;
    padding-top: 40px;
  }

