.accommodations-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.accommodations-card {
  position: relative;
  margin: 20px 10px 20px 10px;
  padding: 10px;
  background-color: $white-transparent;
  border-radius: 2px;
  min-height: 160px;
  max-width: 1052px;
}

.accommodations-ctn {
  flex-grow: 1;
}

.index-photo {
  background-size: cover !important;
  background-position: center;
}
.index-content {
  display: block;
}
.ind-price {
    font-size: 10px;
    padding-top: 55px;
  }

