.new-container {
  position: relative;
}

.activities-tabs {
  margin-top: -10px;
  margin-left: 0px;
}

.activities-card {
  position: relative;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: -10px -40px -20px -20px;
  padding: 10px;
  border-radius: 2px;
  min-height: 160px;
  max-width: 1052px;
}

.index-name {
  height: 34px;
}
.index-date {
  height: 15px;
}
.index-address {
  height: 15px;
}

.index-content {
  display: block;
  width: 240px;
}

.ind-name {
  margin-top: 60px;
  font-size: 20px;
  font-weight: bolder;
  }
.index-date {
  margin-top: 15px;
  .ind-date {
    font-size: 14px;
  }
}
.index-address {
  margin-top: 30px;
  .ind-address {
    font-size: 12px;
  }
}

.name-link {
  text-decoration: none !important;
  color: $gray;
  &:hover {
    color: $yellow;
  }
}
