.activities-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.activities-card {
  position: relative;
  margin: 0px 10px 20px 10px;
  padding: 10px;
  background-color: $white-transparent;
  border-radius: 2px;
  min-height: 160px;
  max-width: 1052px;
}

.index-name {
  height: 34px;
}
.index-date {
  height: 15px;
}
.index-address {
  height: 15px;
}

.index-content {
  display: block;
  width: 240px;
}

.activities-ctn {
  flex-grow: 1;
}

.activities-card {
  min-height: 160px;
  align-items: center;
}

.card-index-ctn {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.ind-name {
  margin-top: 60px;
  font-size: 20px;
  font-weight: bolder;
  }
.index-date {
  margin-top: 15px;
  .ind-date {
    font-size: 14px;
  }
}
.index-address {
  margin-top: 30px;
  .ind-address {
    font-size: 12px;
  }
}

.name-link {
  text-decoration: none !important;
  color: $gray;
  &:hover {
    color: $yellow;
  }
}
