.home-banner {
  min-height: calc(100vh - 70px);
  width: 100vw;
  background-size: cover;
}

.home-title {
  margin-top: 50px;
  margin-bottom: 40px;
  font-weight: 700;
  font-size: 80px;
  color: rgb(100,100,100);
}

.home-subtitle {
  font-weight: 300;
  margin-bottom: 100px;
  color: rgb(100,100,100);
}

.btn-home {
  display: flex;
  justify-content: center;
}
