.new-container {
  position: relative;
}

.restaurants-card {
  margin: 0px 10px 20px 10px;
  position: relative;
  padding: 10px;
  border-radius: 2px;
  min-height: 160px;
  max-width: 1052px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.index-card {
  background-color: white;
  height: 200px;
  width: 380px;
  margin: 10px;
  display: flex;
  border-radius: 2px;
  position: relative;
  box-shadow: 1px 1px 2px rgba(0,0,0,0.1);
  &:hover {
    background-color: $white-middle-transparent;
  }
  .index-photo {
    width: 220px;
    border-radius: 2px;
  }

  .index-participants {
    position: absolute;
    top: 5px;
    left: 20px;
    .index-avatar {
      margin-left: -15px;
      border: 2px solid white;
    }
  }
  .index-status {
    position: absolute;
    top: 5px;
    right: 5px;
  }
  p {
    line-height: 1.2;
    margin-left: 7px;
    margin-right: 7px;
  }
}
.index-content {
  display: block;
  width: 160px;
}

.ind-name {
  padding-top: 30px;
  font-size: 16px;
  font-weight: bolder;
  }
.ind-date p {
  font-size: 14px;
  font-weight: 300;
  padding-top: 35px;
}

.ind-address {
  font-size: 10px;
  padding-top: 15px;
}

.edit-card {
  position: absolute;
  bottom: 10px;
  right: 10px;
  i {
    color: $middle-gray;
  }
}

.delete-card {
  position: absolute;
  bottom: 10px;
  right: 30px;
  i {
    color: $middle-gray;
  }
}
