.restaurants-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.restaurants-card, .wishlist-card {
  position: relative;
  margin: 30px 20px;
  padding: 20px;
  background-color: $white-transparent;
  border-radius: 5px;
  &:hover {
    background-color: $white-middle-transparent;
    box-shadow: 2px 2px 3px $light-gray;
  }
}

.restaurants-ctn {
  flex-grow: 1;
}

.restaurants-card {
  position: relative;
  margin: 30px 20px;
  padding: 20px;
  background-color: $white-transparent;
  border-radius: 5px;
  min-height: 160px;
  align-items: center;
  &:hover {
    background-color: $white-middle-transparent;
    box-shadow: 2px 2px 3px $light-gray;
  }
}

.cards-ctn {
  display: flex;
  justify-content: flex-start;
}

.ind-title {
    padding-left: 12px;
  }

.index-card {
  margin-right: 30px !important;
  background-color: white;
  height: 300px;
  width: 250px;
  margin: 10px;
  display: block;
  border-radius: 20px;
  position: relative;
  box-shadow: 1px 1px 2px rgba(0,0,0,0.1);
  border-left: 4px dashed $light-gray;
  .index-avatar {
    position: absolute;
    top: 5px;
    left: 5px;
  }
  .index-status {
    position: absolute;
    top: 5px;
    right: 5px;
  }
  p {
    line-height: 1.2;
    margin-left: 5px;
  }
  .ind-name {
    margin-top: 80px;
    font-weight: 700;
    font-size: 20px;
  }
  .index-date {
    margin-top: 30px;
    font-size: 16px;
  }
  .ind-address {
    margin-top: 60px;
    font-size: 14px;
  }
}

.wishlist-card {
  min-width: 300px;
  min-height: 350px;
}


// .table-status {
//   text-align: right;
// }
