

.title {
  padding-bottom: 30px;
  padding-top: 20px;
}

.title-icon {
  color: $middle-gray;
}

.add-btn {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
  margin-top: 20px;
}

.plus-btn {
  color: $yellow;
  font-size: 40px;
  display: flex;
  justify-content: flex-start;
  position: absolute;
  top: 10px;
  right: 10px;
  &:hover {
    text-decoration: none !important;
  }
}

.transportations-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.transportations-ctn {
  flex-grow: 1;
}

.transportations-card {
  position: relative;
  margin: 30px 20px;
  padding: 20px;
  background-color: $white-transparent;
  border-radius: 5px;
  min-height: 160px;
  align-items: center;
  &:hover {
    background-color: $white-middle-transparent;
    box-shadow: 2px 2px 3px $light-gray;
  }
}

.cards-ctn {
  display: flex;
  justify-content: flex-start;
}

.transpo-title {
    padding-left: 12px;
  }

.transportation-card {
  margin-right: 30px !important;
  background-color: white;
  height: 300px;
  width: 250px;
  margin: 10px;
  display: block;
  border-radius: 20px;
  position: relative;
  box-shadow: 1px 1px 2px rgba(0,0,0,0.1);
  border-left: 4px dashed $light-gray;
  .transpo-avatar {
    position: absolute;
    top: 5px;
    left: 5px;
  }
  .transpo-status {
    position: absolute;
    top: 5px;
    right: 5px;
  }
}

.details-card {
  border-radius: 20px;
  margin-bottom: 20px;
  p {
    font-size: 14px;
    line-height: 1.2;
    margin-left: 5px;
  }
  .departure {
    margin-top: 70px;
  }
  .arrival {
    margin-top: 20px;
  }
  .ticket-price {
    margin-top: 20px;
  }
}

.reference-card {
  background-color: white;
  // border-top: 4px dashed $light-gray;
  border-radius: 20px;
  .reference {
    font-size: 20px;
    font-weight: bolder;
    padding-top: 15px;
    color: $middle-gray;
  }
}

.status-dropdown-item {
  text-decoration: none !important;
  color: $gray;
  &:hover {
    color: $yellow;
  }
}


