.new-container {
  position: relative;
}

.transportations-tabs {
  margin-top: -10px;
  margin-left: 0px;
}

.add-btn {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
  margin-top: 20px;
}

.plus-btn {
  color: white;
  font-size: 46px;
  display: flex;
  justify-content: flex-start;
  position: absolute;
  top: -10px;
  left: 280px;
  cursor: pointer;
  &:hover {
    text-decoration: none !important;
  }
}

.transportations-card {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: -10px -40px 20px -10px;
  position: relative;
  padding: 10px 10px 10px 0px;
  border-radius: 2px;
  min-height: 160px;
  max-width: 1052px;
}

.transportation-card {
  flex: 0 0 23%;
  background-color: white;
  height: 300px;
  max-width: 240px;
  margin: 10px 10px 5px 10px;
  display: block;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  position: relative;
  box-shadow: 1px 1px 2px rgba(0,0,0,0.1);
  border-left: 4px dashed $light-gray;
  &:hover {
    background-color : $white-middle-transparent;
  }
  .transpo-participants {
    position: absolute;
    top: 5px;
    left: 20px;
    .transpo-avatar {
    margin-left: -15px;
    border: 2px solid white;
    }
  }

  .transpo-status {
    text-decoration: none !important;
    position: absolute;
    top: 5px;
    right: 5px;
  }
}

.dropdown-status {
  box-shadow: none !important;
  border-radius: 2px;
  .dropdown-menu {
    text-decoration: none !important;
    padding: 10px !important;
    border-shadow: 0 2px 5px $middle-gray !important;
  }
  .status-dropdown-item {
    padding: 10px;
  }
}

.details-card {
  border-radius: 20px;
  margin-bottom: 20px;
  position: relative;
  p {
    font-size: 14px;
    line-height: 1.2;
    margin-left: 10px;
    margin-right: 10px;
  }
  .info-card {
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
    .depature, .arrival {
      font-size: 12px !important;
    }
  }
  .date-card {
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
    .date-time {
      font-size: 8px !important;
      font-weight: lighter;
    }
  }
  .ticket-price {
    margin-top: 20px;
    font-size: 18px !important;
    font-weight: lighter;
    text-align: center;
    color: $yellow;
  }
}

.reference-card {
  border-top: 1px dotted $middle-gray;
  .reference {
    font-size: 20px;
    font-weight: bolder;
    padding-top: 15px;
    color: $middle-gray;
  }
}

.status-dropdown-item {
  text-decoration: none !important;
  color: $gray;
  &:hover {
    color: $yellow;
  }
}

.delete-card-transpo {
  position: absolute;
  bottom: 60px;
  right: 10px;
  i {
    color: $middle-gray;
  }
}
