.new-container {
  margin-left: 100px;
  margin-bottom: 0px;
  margin-top: 0px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.container {
  width: 1052px;
}

.trips-card {
  margin: 15px 0px 25px -100px;
  padding: 0px;
  // background-color: $white-transparent;
  border-radius: 2px;
  min-height: 250px;
  max-width: 1112px;
}

.trip-card-title {
  padding: 5px 5px 5px 20px;
  border-radius: 2px;
  background-color: $white-middle-transparent;
  color: $middle-gray;
}

.trip-ctn {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.trip-card {
  margin: 10px 10px 10px -10px;
}

.add-card {
  color: $yellow !important;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $white-transparent;
  margin-bottom: 15px;
  border-radius: 2px;
  height: 200px;
  width: 324px;
  margin: 20px 10px 10px 0px;
  display: flex;
  border-radius: 2px;
  position: relative;
  box-shadow: 1px 1px 2px rgba(0,0,0,0.1);
  &:hover {
    box-shadow: 1px 1px 2px $middle-gray;
  }
  .btn-trips-card {
    color: $yellow !important;
  }
}

.light-card {
  background-color: rgba(255,255,255,0.2);
}

.white-card {
  background-color: rgba(255,255,255,0.8);
}

.border-card {
  border-left: 5px solid white;
}

.btn-card {
  color: white;
  font-size: 48px;
  cursor: pointer;
}

.modal-content {
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 2px;
  box-shadow: 2px 2px 4px rgba(0,0,0,0.2);
  color: $gray;
}

.modal-backdrop {
  background-color: rgba(255,255,255, 0.8);
}

.pac-container {
  z-index: 1051 !important;
}
