.participants-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 20px;
  margin-bottom: 15px;
  position: relative;
}

.participant {
  margin-right: 18px;
  p {
    font-size: 15px;
    color: $gray;
  }
}

.btn-participants {
  margin-bottom: 30px;
}

.download-link {
  color: white;
  font-size: 36px;
  margin-bottom: 30px;
  margin-left: 20px;
  &:hover {
    color: $light-gray;
  }
}

.pdf {
  position: absolute;
  right: 0px;
  top: 90px;
}

.calendar {
  position: absolute;
  right: 45px;
  top: 90px;
}

#map {
  height: 450px;
  flex: 0 0 450px;
  position: sticky !important;
  top: 0 !important;
  border-radius: 4px;
}

.info-window {
  a {
  color: $gray;
  }
  a:hover {
    text-decoration: none;
    color: $yellow;
  }
}

#calendar {
  height: 450px;
  flex: 0 0 450px;
  position: sticky !important;
  top: 0 !important;
}

.calendar-map-container {
  background-color: $white-transparent;
  border: black;
}
