.new-container {
  margin-left: 100px;
  margin-bottom: 0px;
  margin-top: 0px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.container {
  width: 1052px;
}

.trips-card {
  margin: 20px 10px 20px 10px;
  padding: 20px;
  background-color: $white-transparent;
  border-radius: 2px;
  min-height: 160px;
  max-width: 1012px;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  position: relative;
}

.gray-card {
  background-color: rgba(0,0,0,0.2);
  }

.white-card {
  background-color: rgba(255,255,255,0.7);
}

.btn-card {
  color: white;
  font-size: 48px;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.modal-content {
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 2px;
  box-shadow: 2px 2px 4px rgba(0,0,0,0.2);
  color: $gray;
}

.modal-backdrop {
  background-color: rgba(255,255,255, 0.8);
}

.pac-container {
  z-index: 1051 !important;
}
