.participants-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 20px;
  margin-bottom: 15px;
  position: relative;
}

.participant {
  margin-right: 10px;
  margin-bottom: 30px;
  .btn-avatar {
    cursor: default !important;
    padding: 5px;
}
  .avatar-participant {
    border: 2px solid white !important;
  }
  p {
    font-size: 15px;
    color: $gray;
  }
}

.btn-participants {
  margin-left: 2px;
  margin-bottom: 30px;
  color: $yellow;
  font-size: 56px;
  cursor: pointer;
}

.btn-pdf {
  position: absolute;
  color: $yellow;
  font-size: 16px;
  left: 145px;
  top: 95px;
  background-color: $very-light-yellow;
  padding: 9px 14px;
  border-radius: 2px;
  border: 2px solid $yellow;
  a {
    color: $yellow;
    text-decoration: none;
  }
}

.btn-calendar {
  position: absolute;
  color: $very-light-yellow;
  font-size: 16px;
  left: 10px;
  top: 95px;
  background-color: $yellow;
  padding: 10px 15px;
  border-radius: 2px;
  a {
    color: $very-light-yellow;
    text-decoration: none;
  }
}

#map {
  height: 450px;
  flex: 0 0 450px;
  position: sticky !important;
  top: 0 !important;
  border-radius: 4px;
}

.info-window {
  a {
  color: $gray;
  }
  a:hover {
    text-decoration: none;
    color: $yellow;
  }
}

#calendar {
  height: 450px;
  flex: 0 0 450px;
  position: sticky !important;
  top: 0 !important;
}

.little-tooltip + .tooltip > .tooltip-inner {font-size: 12px;}

.calendar-map-container {
  border: black;
  padding: 15px 0;
  margin: 10px;
  display: inline-block;
  border-radius: 2px;
}
