<h1>Participation#join_trip</h1>

  <p>Hi <%= @participation.pseudo %></p>
  <p> You have been invited to consult and edit this trip : <%=  trips_unauthenticated_url(@participation.token) %></p>

<p>See ya!</p>
