<% unless params[:action] == "home"%>
<div class="footer <%#= "hidden" if params[:action] == "home" %>">
  <div class="footer-copyright">
    ©Wandr was developped <span><a href="https://www.lewagon.com/fr", target="_blank", id="wagon-link">@Le Wagon</a></span> in March 2018 by Nina Chanteau, Kenza Aboudrar, Marion Bergeret and Elsa Gounot.
  </div>
</div>
<% end %>
