<div class="footer <%= "hidden" if params[:action] == "home" %>">
  <div class="footer-copyright">
    ©Wandr.io has been made <span><a href="https://www.lewagon.com/fr", target="_blank", id="wagon-link">@Le Wagon</a></span> in march 2018 by Nina, Kenza, Marion and Elsa.
  </div>
</div>
