<div class="home-banner" style="background-image: linear-gradient(-225deg, rgba(150, 150, 150, 0.4) 0%, rgba(150, 150, 150, 0.4) 50%), url('https://images.pexels.com/photos/892541/pexels-photo-892541.jpeg?w=940&h=650&auto=compress&cs=tinysrgb')">

<div class="container">
  <h1 class="text-center">Wandr.io</h1>
  <h3 class="text-center">Keep all the details of your next trip at your fingertips</h3>
  <div class="text-center"><%= link_to "Log in", user_session_path, class: "btn btn-info" %>
    <%#= link_to "Sign in", new_user_registration_path, class: "btn btn-info" %></div>
</div>
</div>
