<div class="home-banner" style="background-image: linear-gradient(-225deg, rgba(20, 20, 20, 0.4) 0%, rgba(20, 20, 20, 0.4) 50%), url('https://images.pexels.com/photos/892541/pexels-photo-892541.jpeg?w=940&h=650&auto=compress&cs=tinysrgb')"></div>
