<div class="text-center">
  <h4><%= restaurant.name %></h4>
  <h5>reservation: <%= render 'shared/wishlist-icon' %></h5>
  <% if restaurant.date.present? %>
      <h6>On: <%= restaurant.date.strftime("%b %d, %Y") %></h6>
    <!--   <h6>@: <%#=  %></h6> -->
  <% end %>
  <p><%= restaurant.address %></p>
</div>
