<div class="new-container">
<div class="container">

  <div class="header">
    <div class="title text-center"> <h2><%= @trip.name  %>  ...  <i class="fa fa-cutlery title-icon"></i></h2>
    </div>
  </div>

<div class="restaurants-container">
  <div class="restaurants-ctn">
    <div class="restaurants-card">
      <h5>Today Restaurants:</h5>
    </div>
    <div class="restaurants-card">
      <div> <%= link_to new_trip_restaurant_path do %>
        <i class="fa fa-plus-circle plus-btn"></i>
      <% end %></div>
      <h5>Restaurants:</h5>
      <div><% @restaurants.each do |resto| %>
        <%= resto.name  %>
      <% end %></div>
    </div>
  </div>
  <div class=" wishlist-card hidden-xs">
    <h5>Wishlist:</h5>
  </div>

</div>

</div>
</div>
