/* Main navbar */
.navbar-wagon {
  width: 100%;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  background: white;
  transition: all 0.3s ease;
  height: 70px;
  padding: 0px 30px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.navbar-wagon-link {
  text-decoration: none;
  color: $gray;
  &:hover {
    color: $yellow;
  }
}

/* Logo */
.navbar-wagon-brand img {
  height: 50px;
  margin-left: 20px;

}

/* User Avatar */
.avatar {
  height: 35px;
  width: 35px;
  border-radius: 50%;

}

/* Right section */
.navbar-wagon-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dropdown-choose {
  margin-right: 20px;
}

.navbar-input {
  width: 300px;
  border-radius: 3px;
}

.form-group {
  margin-bottom: 25px;
}

