.sidebar-container {
  z-index: 500;
  position: fixed;
  display: block;
  width: 100px;
  height: 100vh;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: $yellow;
  box-shadow: 1px 0px 5px rgba(0,0,0,0.2);
  .sidebar-avatar {
    margin-top: 20px;
    margin-left: 37px;
  }
 ul {
  list-style: none;
  margin-top: 30px;
 }
 i {
  color: $light-yellow;
  font-size: 32px;
  padding: 15px 0px;
  &:hover {
    font-size: 36px;
    color: white;
  }
 }
}

.sidebar-item {
  cursor: pointer;
  position: relative;
}

.sidebar-dropdown-menu {
  margin-top: 5px;
  margin-left: 10px;
  box-shadow: 1px 1px 4px #E6E6E6;
  border-color: #E6E6E6;
}
.sidebar-dropdown-menu li > a {
  transition: color 0.3s ease;
  font-weight: lighter !important;
  color: $gray !important;
  font-size: 15px !important;
  line-height: 22px !important;
  padding: 10px 20px;
}
.sidebar-dropdown-menu li > a:hover {
  background: transparent !important;
  color: $gray !important;
}
.sidebar-dropdown-menu:before {
  content: ' ';
  height: 10px;
  width: 10px;
  position: absolute;
  left: 20px;
  top: -6px;
  background-color: white;
  transform: rotate(45deg);
  border-left: 1px solid #E6E6E6;
  border-top: 1px solid #E6E6E6;
}
