.tabs {
  background: $very-light-yellow;
  display: flex;
  justify-content: center;
  margin: 5px;
}
.tabs a {
  color: $yellow;
}
.tabs a:hover {
  cursor: pointer;
  text-decoration: none;
  opacity: 0.7;
}

.tabs a:visited {
  text-decoration: none;
}

.tabs p {
  margin-bottom: 0;
  font-size: 16px;
}
.tab {
  color: $yellow;
  font-size: 16px;
  left: 130px;
  top: 95px;
  background-color: $very-light-yellow;
  padding: 9px 14px;
  border-radius: 2px;
  &.active {
    border-bottom: 4px solid $yellow;
  }
}
.tab:first-child {
  border-radius: 2px 0 0 0;
}
.tab:last-child {
  border-radius: 0 2px 0 0;
}

.tab.active:hover {
  opacity: 1;
}

.tab a,
.tab a:hover,
.tab a:active,
.tab a:focus,
a:hover,
a:focus {
  text-decoration: none !important;
}
