.wrapper {
  background-color: white;
  margin: !important 0px;
  min-width: (100vw);
  min-height: (100vh);
  background: linear-gradient(-190deg, white 58%, $light-yellow 58%);
  background-attachment: fixed !important;
  background-repeat: no-repeat !important;
}
