<div class="text-center">
  <h4><%= activity.name %></h4>
  <h5>reservation: <%= render 'shared/wishlist-icon' %></h5>
  <% if activity.date.present? %>
      <h6>On: <%= activity.date.strftime("%b %d, %Y") %></h6>
    <!--   <h6>@: <%#=  %></h6> -->
  <% end %>
  <p><%= activity.address %></p>
</div>
